{% extends 'base.html' %}
<html lang="en">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aboutpage</title>
{% block content %}
    <h1>aboutpage</h1>
    <strong>about page</strong>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate beatae, accusantium quos sed iste id quo nulla a vel recusandae odit quis atque itaque odio alias animi nam neque nisi quas inventore iusto. Sequi corporis neque provident, est iusto natus, voluptates ipsam facilis nulla voluptas voluptate tempora illo necessitatibus architecto.</p>
{% endblock content %}