{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pages</title>
</head>
<body>
    {% block content %}
        <strong>homepage</strong>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam sed, reiciendis incidunt sequi alias, quaerat at nisi laborum sint excepturi minima. Iusto necessitatibus autem optio soluta numquam sequi vel. Quasi.</p>
    {% endblock content  %}

</body>
</html>